<h2>Bom Revision: <%=@newbomrev.Name %></h2>
<table>
	<tr>
		<td>Revision Letter:</td>
		<td><%=@newbomrev.Revision_Letter__c%></td>
	</tr>
	<tr>
		<td>Revision Purpose:</td>
		<td><%=@newbomrev.Revision_Purpose__c%></td>
	</tr>
	<tr>
		<td>Revision State:</td>
		<td><%=@newbomrev.Revision_State__c%></td>
	</tr>
</table>