<h2>Bom Revision: <%=@bomrev.Name %></h2>
<table>
	<tr>
		<td>Revision Letter:</td>
		<td><%=@bomrev.Revision_Letter__c%></td>
	</tr>
	<tr>
		<td>Revision Purpose:</td>
		<td><%=@bomrev.Revision_Purpose__c%></td>
	</tr>
	<tr>
		<td>Revision State:</td>
		<td><%=@bomrev.Revision_State__c%></td>
	</tr>
</table>