<h1>Congratulations!</h1>
<p>If you got here, than the example has probably installed and worked correctly.</p>
<p>See sessions#example (in app/controllers/sessions_controller) to see the example of using the SObject methods</p>