<h1>Congratulations!</h1>
<p>If you see this message, than the example has probably installed and worked correctly.</p>
<p>See the <b><tt>example</tt></b> method in the file <b>app/controllers/sessions_controller</b> to see an example of using the SObject class.</p>