<h1>Congratulations!</h1>
<p>If you see this message, than the example has probably installed and worked correctly.</p>
<h2>What you've installed</h2>
<p>You have installed a very simply demo that utilizes the <b><tt>SObject.rb</tt></b> Ruby class.  The only purpose of this demo is to provide the SObject.rb class and show an example of its use.</p>
<h2>How to use</h2>
<p>See the <b><tt>example</tt></b> method in the file <b>app/controllers/sessions_controller</b> to see an example of how to use the SObject class.</p>
<p>Open the file <b>lib/sf.com/doc/SObject.html</b> in your browser for documentation on the SObject class.</p>
<h2>Install the class elesewhere</h2>
<p>The class itself is stored in the single file <b>lib/sf.com/SObject.rb</b>.  Just copy the directory to your own rails application and place <tt>require 'sf.com/SObject'</tt> at the top of an app/controllers file that needs to use the class.
